/* Burger Menu CSS */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-icon {
  width: 30px;
  height: 20px;
  position: relative;
}

.burger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all var(--transition-normal);
}

.burger-icon span:nth-child(1) {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 8px;
}

.burger-icon span:nth-child(3) {
  top: 16px;
}

.burger-icon.active span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

.burger-icon.active span:nth-child(2) {
  opacity: 0;
}

.burger-icon.active span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
